.header {
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #FFF;
    margin-bottom: 4em;
    z-index: 3;

    box-shadow: 1px 1px 0.25rem rgba(0,0,0,.1);
}

.header .header-container {
    display: block;
}

.header .header-container #htitle {
    float: left;
    position: relative;
    font-size: 2rem;
    line-height: 1.6em;
    margin-left: 0.2em;
    font-weight: 450;
    color: #0052ff;
    /* vertical-align: middle; */

}

.header .header-container #menu-btn {
    display: none;
}

.header .header-container .menu-icon {
    cursor: pointer;
    display: block;
    position: relative;
    float: right;

    padding: 1.3em 1.2em 1.3em 1.2em;
    /* padding: 2em 1.2em; */
    background-color: #FFF; 
}

/* hamburger */
.header .header-container .menu-icon span {
    background-color: #0052ff;
    display: block;
    position: relative;

    width: 2.2em;
    height: 0.2em;

    /* Why radius didn't work? */
    border-radius: 1px;

    z-index: 1;

    transform-origin: 0.25em 0em;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.header .header-container .menu-icon span:first-child {
    background-color: #0052ff;
    transform-origin: 0% 0%;
    margin-bottom: 0.4em;
}

.header .header-container .menu-icon span:nth-last-child(2) {
    background-color:#0052ff;
    transform-origin: 0% 100%;
    margin-bottom: 0.4em;
}

/* Transform all the slices of hamburger into a crossmark. */
.header .header-container #menu-btn:checked ~ .menu-icon span {
    opacity: 1;
    transform: rotate(45deg) translateX(0.1em) translateY(-0.3em);
}

.header .header-container #menu-btn:checked ~ .menu-icon span:last-child {
    opacity: 1;
    transform: rotate(-45deg);
}

.header .header-container #menu-btn:checked ~ .menu-icon span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(45deg);
}

.header .menuToggle {
    position: absolute;
    top: 4em;
    width: 50%;
    left: 100%;
    height: 100vh;
    background-color:#f4f4f4;
    z-index: 2;
    padding: 1em;

    box-shadow: -2px 1px 0.25rem rgba(0,0,0,.1)  ;
    
    /* transform: translate(100%, 0); */
    transform: none;
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.header .header-container #menu-btn:checked ~ .menuToggle {
    transform: translate(-100%, 0);
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.header .menu-ul a {
    display: block;
    font-size: 1.6em;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    border-bottom: 1px solid snow;
    color: #0052ff;
}