/* Header */

.header {
    background-color: #FFF;
    box-shadow: 1px 1px 0.25rem rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: #FFF;
}

.header li a {
    display: block;
    padding: 1em 1em;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 1.5rem;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #0052ff;
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    color: #0052ff;
}

.header .login-status {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    color: #0052ff;
}

/* menu icon*/

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 1.5em 1.5em;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 0.16em;
    position: relative;
    transition: background .2s ease-out;
    width: 1.3em;
}

.header .menu-icon .navicon:before {
    background: #333;
    content: '';
    display: block;
    height: 80%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
}

.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 90%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
}

.header .menu-icon .navicon:before {
    top: 0.4rem;
}

.header .menu-icon .navicon:after {
    top: -0.4rem;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 15em;
}

.header .menu-btn:checked ~ .login-status {
    max-height: 10em;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li{
        float: left;
    }
    .header li a {
        padding: 1rem 1.5rem;
    }
    .header .menu {
        clear: none;
        float: left;
        max-height: none;
    }
    .header .login-status {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}