.notinterestContainer {
    padding-top: 4.8em;
}

/* Above part */
.notinterestContainer .mainquestion {
    display: flex;
    justify-self: flex-end;
    width: 30%;
    margin-left: 70%;
}

.notinterestContainer .subtitle {
    text-align: right;
    color: #0052ff;
    font-size: 0.8rem;
    padding: 0.4em;
}

.notinterestContainer .mainquestion img {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.6em;
    margin-left: -0.1em;
    align-content: space-around;
    margin-top: 0.3em;
}

/* Table */
.notinterestContainer table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */
.notinterestContainer table tr:nth-of-type(odd) {
    background: #eee;
}

.notinterestContainer table th {
    background-color: #00d2ff;
    color: white;
    font-weight: bold;
    text-align: center;
}

.notinterestContainer table td {
    padding: 0.4em;
    border: 1px solid #ccc;
    text-align: left;
}

.notinterestContainer table thead tr th {
    padding: 0.4em;
    vertical-align: middle;
}

.notinterestContainer table tbody .checked-tr {
    background-color: #33dbff;
}

/* Pagination */

.notinterestContainer .pageNum {
    display: flex;
    justify-content: center;
    width: 100%;
    float: none;
    margin-top: 5em;
    margin-bottom: 1em;
}

.notinterestContainer .pageNum ul li {
    display: inline-flex;
    padding: 0.5em 0.3em;
}

.notinterestContainer .pageNum ul li a{
    padding: 0.6em 1em;
    text-decoration: none;
    font-size: 1em;
    border: 1px solid #ccc;
}

.notinterestContainer .pageNum ul .active-pagenum {
    background-color: #00d2ff;
}

.notinterestContainer .pageNum ul li .active-pagenum {
    color: #eee;
    text-decoration: none;
}

.disabled {
    display: none;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force tables to not be like tables anymore */
    .notinterestContainer table, thead, tbody, th, td, tr {
        display: block;
    }

    .notinterestContainer table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .notinterestContainer table tr {border: 1px solid #ccc;}
    .notinterestContainer table td {
        border: none;
        border-bottom: 1px solid #d9d9d9;
        position: relative;
        padding-left: 50%;
    }
    
    .checkbox-hide {
        display: none;
    }

    .notinterestContainer table td:before {
        position: absolute;
        top: 0.3em;
        left: 0.3em;
        width: 45%;
        padding-right: 0.4em;
        white-space: nowrap;
    }

    .notinterestContainer td:nth-of-type(1):before { content: "check"}
    .notinterestContainer td:nth-of-type(2):before { content: "종목코드"}
    .notinterestContainer td:nth-of-type(3):before { content: "종목명"}
    .notinterestContainer td:nth-of-type(4):before { content: "거래자"}
    .notinterestContainer td:nth-of-type(6):before { content: "일자"}
    .notinterestContainer td:nth-of-type(5):before { content: "시가총액"}
}
